*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

.container{
    width: 80%;
    height:80%;
    position:absolute;
    top: 50%;
    left: 50%;
    border: 1px solid red;
    transform: translate3d(-50%, -50%, 0);
    box-sizing: border-box;
}

.container .demo{
    position: absolute;
    border: 1px solid #ddd;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}